.classpath
logback*.xml
.project
.settings/
target/
config.db
pos.1
pos.2
*~
*.swp
*.db
.metadata/
RemoteSystemsTempFiles/
*.log
logs
*.out
*.iml
bin/
deps/
*.cache
map/
spring-hibernate.xml
cul*
mvn*
*.jpeg
.idea
*.conf
db/
db_bak/
src/main/resources/kibana/
/master/src/main/resources/ui/
*/dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
*.versionsBackup
/jre/
/ui/dist/
!/ui/.tmp/

