modeling.test.path.output=./target/modeling-test/output
modeling.test.path.input=./target/modeling-test/input

modeling.test.flink.host=localhost
modeling.test.flink.port=6123

modeling.test.es.host=10.10.100.71
modeling.test.es.port.http=9200
modeling.test.es.port.client=9200
modeling.test.es.index=modeling
modeling.test.es.type=modeling

modeling.test.hdfs.host=10.10.100.71
modeling.test.hdfs.port=8020
modeling.test.hdfs.path.input=/sage-bigdata-etl-modeling/test/input.json

modeling.test.file.path.read=/opt
modeling.test.file.path.write=./target/modeling-test/
