app.monitor.jdbc=com.haima.sage.bigdata.etl.monitor.JDBCMonitor
app.writer.jdbc=com.haima.sage.bigdata.etl.writer.JDBCLogWriter
app.protocol.mysql="mysql"
app.checker.jdbc=com.haima.sage.bigdata.etl.driver.usable.JDBCUsabilityChecker